body {
  background-color: lightblue;
}

#title {
  background-color: whitesmoke;
  padding: 5px;
  border: 1px solid blue;
  width: 800px;
}
h1 {
  color: rgb(43, 154, 228);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    color: rgb(43, 154, 228);
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
